html {
    scroll-behavior: smooth;
   
}
.menu {
    text-align: center;
    align-items: center;
    background-color: #2636ad9b;
    display: flex;
    flex-direction: row;
    justify-content: center; 
   
  
   
}
.link {
    width: fit-content;
    margin: 10px;
    display: flex;
    align-items: center; 
    font-size: x-large;
}
.link>a{
    font-size: small;
  font-family: Figtree,Verdana,sans-serif;
  color: black;
  font-size: larger;
}
*{
    font-family: Figtree,Verdana,sans-serif;
}
.menuicons{
    height: 40px;
    margin: 20px;
    border-radius:10px;
   

}
.divhomepageright{
    
    background-color: rgba(255, 255, 255, 0.532);
    border: 3px white solid;
    
    
}
.homepage_section_1{
    background-color: rgb(184, 223, 122);
    
   
    margin: 2%;
    border: 10px solid;
    font-size: 25px;
    justify-content: center; 
}
#Hi{
    font-size: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#psection{
 color:red;
}
.divhomepageright>span{
    color: red;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}
.buttons>div{
    border: 10px solid;
    font-size: 19px;
    font-weight: 500;
    background-color: #e71d36;
    border-radius: 0px 0px 0px 0px;
    padding: 23px 0px 21px 0px;
   width:1000px;
   align-items: center; 
   display: flex;
   justify-content: center
}
section>span{
    color:#e71d36;
}
.boxs{
    
   
   justify-self: auto;
   justify-content: center;
}
.boxs1{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    width: fit-content; 
}
.boxs2{
    display: flex;
    flex-direction: column;
    float: right;
    
    width: fit-content;  
}
.boxs1>div{
    margin: 10px;
     display:flex;
     flex-direction: row;
    border-radius: 0px 0px 0px 0px;
    padding: 23px 0px 21px 0px;
}
#imageicons{
    width: 100px;
    margin:10px;
}