html {
    scroll-behavior: smooth;
   background-color:rgb(212, 222, 201)
}
.menu {
    text-align: center;
    align-items: center;
    background-color: rgb(212, 222, 201);
    display: flex;
    flex-direction: row;
    justify-content: center; 
   border-radius: 10px;
   border: solid 5px;
   
}
.link {
    width: fit-content;
    margin: 10px;
    display: flex;
    align-items: center; 
    font-size: x-large;
}
.link>a{
    font-size: small;
  font-family:fantasy;
  color: black;
  font-size: larger;
}
*{
    font-family:fantasy;}
.menuicons{
    height: 40px;
    margin: 20px;
    border-radius:10px;
}
.divhomepageright{
    
    
    display: flex;
    width: fit-content;
}
#myname{
    font-size: 120px;
    font-family:fantasy;
color:azure;
}
#p_hIim{
 color:rgb(255, 252, 252);
 font-size: 44px;
}
.divhomepageright>span{
    color: red;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}
.buttons>div{
    border: 10px solid white;
    font-size: 19px;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 0px 0px;
    padding: 23px 0px 21px 0px;
   width:1000px;
   align-items: center; 
   display: flex;
   justify-content: center;
}
.buttons>div>a{
    color: rgb(255, 253, 253);
}
section>span{
    color:#e71d36;
    font-size:45px;
}
.boxs_homepage{
   justify-self: auto;
   justify-content: center;
}
.boxs_homepage1{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    width: fit-content; 
}
.boxs1{
    display: flex;
    flex-direction: column;
    float: left;
    width: fit-content;  
}
.boxs1>div{
    display: flex;
    flex-direction: row;
    float: right;
    width: fit-content;  
    padding: 23px 0px 21px 0px;
    margin:10px
}
.boxs2{
    display: flex;
    flex-direction: column;
    float: right;
    width: fit-content;  
}
.boxs_homepage1>div{
    margin: 10px;
     display:flex;
     flex-direction: row;
    border-radius: 0px 0px 0px 0px;
    padding: 23px 0px 21px 0px;
}
#imageicons{
    width: 100px;
    margin:10px;
}
#homepage_section_1{
    background-image: url(/Photos/peakpx.jpg);
  }
  .boxproject{
    border:solid 12px;
    margin: 16px;
    justify-content: center;
  }
  .boxsprojects{
    display: flex;
    width: fit-content; 
    justify-self: auto;
    justify-content: center;
    flex-direction: row;  }
  .boxproject>img{
    height: 300px;
    width: 420px;
  }
.divhomepageright>div>img{
    margin-top: 10px;
    height: 550px;
    border-radius: 100px;
    border: solid 10px;
    display:block;
}

@media  screen and (max-width: 700px) {
    .divhomepageright{
     flex-direction:column;
    }
    .divhomepageright>div>img{
        margin-left: 20px;
        margin-top: 0px;
        height: 500px;
        border-radius: 5000px;
    }
      .boxproject{
        display: flex;
        flex-direction: column;
      }

      .boxsprojects{
        width: fit-content; 
        justify-self: auto;
        justify-content: center;
        flex-direction: column;  } 
        .menu {
            background-color: #49b8936d;
            display: block;
            flex-direction: column;
            justify-content: center; 
           overflow: hidden;
           text-align: center;
           padding: 14px 16px;
           border: solid 5px;
        }
        .menu2{
            flex: auto;
            background-color: #49b8936d;
          }
          #NAVbar{
            display: block;
            height: 100px;
            width: 60px;
          }
  }
  .menu2{
    flex: auto;
   background-color: #49b8936d;
   border-top: solid 5px;
   border-left:  solid 5px;
   border-right:  solid 5px;
   border-radius: 10px;
  }
  #NAVbar{
    display: block;
    height: 60px;
    width: 60px;
    
  }
