html {
    scroll-behavior: smooth;
    background-color: rgb(243, 242, 218);
}
.menu {
    text-align: center;
    align-items: center;
    background: rgb(243, 242, 218);
    display: flex;
    flex-direction: row;
    justify-content: center; 
  
   
}
.link {
    width: fit-content;
    margin: 10px;
    display: flex;
    align-items: center; 
    font-size: x-large;
}
.link>a{
    font-size: small;
  font-family: Figtree,Verdana,sans-serif;
  color: black;
  font-size: larger;
}
*{
    font-family: Figtree,Verdana,sans-serif;
}
.menuicons{
    height: 30px;

}
#Section_homepage1{
    display: flex;
    background-color: rgb(184, 223, 122);
    width: fit-content;
    flex-direction: row;
    margin: 2%;
    border: 10px solid;
    float:left;
    font-size: 25px;
}
#Section_homepage2{
    display: flex;
    background-color: rgb(184, 223, 122);
    width: fit-content;
    flex-direction: row;
    margin: 2%;
    border: 10px solid;
    float: left;
}
#Skills{
    display: flex;
    background-color: rgb(184, 223, 122);
    width: fit-content;
    flex-direction: row;
    margin: 2%;
    border: 10px solid;
    float:right;
}
#Section_homepage1>p>b{
    color: chocolate;
}